{% extends 'quicktutorsApp/base_member.html' %}
{% load staticfiles %}
{% block title %}
    Thank you!
{% endblock %}
{% block content %}
    <h1>Negocios Afiliados para pagos en efectivo.</h1>
    <p>Puedes visitar cualquiera de nuestros negocios afiliados para validar tu orden, y terminar el proceso de solicitud
    de tu seccion de monitoria.</p>

     {% for affiliate in affiliates_list %}
    <div class="row">
        <div class="col s12 m6">
          <div class="card  teal lighten-1">
            <div class="card-content white-text">
              <img src="{{ affiliate.picture.url }}" class="circle responsive-img" width="140" height="140"> <span class="card-title">{{ affiliate.name }}</span>
              <p>{{ affiliate.address }}</p>
            </div>
            <div class="card-action">
              <a href="#">Ver en GoogleMaps</a>
              <a href="#">Ver Numeros de Telefono</a>
            </div>
          </div>
        </div>
      </div>
    {% endfor%}
{% endblock %}