{% extends 'quicktutorsApp/base_member.html' %}
{% block title %}
    Secciones de Monitorias
{% endblock %}
{% block content %}

    <div class="container-fluid">
    <h1>Secciones de monitoria agendadas</h1>
        <div class="row">

            <div class="col s12">
                <ul class="tabs">
                    <li class="tab col s3"> <a href="#pendientes">Pendientes</a></li>
                    <li class="tab col s3"> <a href="#aceptadas">Aceptadas</a></li>
                    <li class="tab col s3"> <a href="#rechazadas">Rechazadas</a></li>
                    <li class="tab col s3"> <a href="#todas" class="active">Todas</a></li>
                </ul>
            </div>
        </div>

    <hr>
          </div>

    <div id="pendientes">
        <ul class="collapsible" data-collapsible="accordion">
        {% for seccion in seccionesPendientes %}

            <li>
              <div class="collapsible-header" id="flip">
                  <i class="material-icons">filter_drama</i>
                  <a href="{% url 'monitorias:secciones_detail' pk=seccion.pk %}">
                      {{ post.title }}  <strong>Tutor:</strong> {{ seccion.tutor.get_full_name }} | <strong>Fecha: </strong>({{ seccion.begin_timeDay }})</a>
              </div>
              <div class="collapsible-body" id="panel"><p> <strong> Solicitante: </strong> {{ seccion.estudiante.get_full_name }} </p></div>
            </li>

        {% endfor %}
        </ul>
    </div>

    <div id="aceptadas">

        <ul class="collapsible" data-collapsible="accordion">
        {% for seccion in seccionesAceptadas %}

            <li>
              <div class="collapsible-header" id="flip">
                  <i class="material-icons">filter_drama</i>
                  <a href="{% url 'monitorias:secciones_detail' pk=seccion.pk %}">
                      {{ post.title }}  <strong>Tutor:</strong> {{ seccion.tutor.get_full_name }} | <strong>Fecha: </strong>({{ seccion.begin_timeDay }})</a>
              </div>
              <div class="collapsible-body" id="panel"><p> <strong> Solicitante: </strong> {{ seccion.estudiante.get_full_name }} </p></div>
            </li>

        {% endfor %}
        </ul>

    </div>

    <div id="rechazadas">
        <ul class="collapsible" data-collapsible="accordion">
        {% for seccion in seccionesRechazadas %}
            <li>
              <div class="collapsible-header" id="flip">
                  <i class="material-icons">filter_drama</i>
                  <a href="{% url 'monitorias:secciones_detail' pk=seccion.pk %}">
                      {{ post.title }}  <strong>Tutor:</strong> {{ seccion.tutor.get_full_name }} | <strong>Fecha: </strong>({{ seccion.begin_timeDay }})</a>
              </div>
              <div class="collapsible-body" id="panel"><p> <strong> Solicitante: </strong> {{ seccion.estudiante.get_full_name }} </p></div>
            </li>
        {% endfor %}
        </ul>
    </div>
    <div id="todas">
        <ul class="collapsible" data-collapsible="accordion">
        {% for seccion in seccionesTodas %}

            <li>
              <div class="collapsible-header" id="flip">
                  <i class="material-icons">filter_drama</i>
                  <a href="{% url 'monitorias:secciones_detail' pk=seccion.pk %}">
                      {{ post.title }}  <strong>Tutor:</strong> {{ seccion.tutor.get_full_name }} | <strong>Fecha: </strong>({{ seccion.begin_timeDay }})</a>
              </div>
              <div class="collapsible-body" id="panel"><p> <strong> Solicitante: </strong> {{ seccion.estudiante.get_full_name }} </p></div>
            </li>

        {% endfor %}
        </ul>
    </div>
{% endblock %}

