{% extends 'quicktutorsApp/base_member.html' %}
{% block title %}
    Secciones de Monitorias
{% endblock %}
{% block content %}
    <h1>Hello Secciones de monitorias :3</h1>
    {% for seccion in secciones %}
        <div class="well well-sm">
        <a href="{% url 'monitorias:secciones_detail' pk=seccion.pk %}"> {{ post.title }}<p><strong>Seccion: Estudiante:</strong> {{ seccion.estudiante }} / <strong>Tutor:</strong> {{ seccion.tutor }} <strong>({{ seccion.begin_timeDay }} - {{ seccion.end_timeDay }})</strong> </p></a>
        </div>
    {% endfor %}
{% endblock %}