{% extends 'quicktutorsApp/base_member.html' %}
{% load staticfiles %}
{% block title %}
    Thank you!
{% endblock %}
{% block content %}
    <style>
    .paypal-payment{
        width: 400px;
    }
    </style>

    <div class="row">
        <div class="col s12">
        <h3>Pago via paypal.</h3>
        <hr>

        <div class="container paypal-payment center">

        <div class="card">

            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="{% static 'media/member_section/paypal-background.jpg' %}" width="150" height="150">
            </div>

            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Horas de monitoria a pagar</span>

                <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top" role="form">

                    <input type="hidden" name="cmd" value="_s-xclick">
                    <input type="hidden" name="hosted_button_id" value="4TBKMSYY7AVBA">
                    <input type="hidden" name="on0" value="Paquetes de preguntas.">
                    <label class="form">Paquetes de preguntas.</label>
                    <br>
                        <select name="os0" class="form-control">
                            <option value="3 Quickfire Questions">3 Quickfire Questions $2.00 USD</option>
                            <option value="6 Quickfire Questions">6 Quickfire Questions $4.00 USD</option>
                            <option value="12 Quickfire Questions">12 Quickfire Questions $8.00 USD</option>
                        </select>
                    <br>
                    <input type="hidden" name="currency_code" value="USD">
                    <input type="submit" class="btn btn-success" value="Comprar ahora">

                </form>
            </div>
        </div>
    </div>


{% endblock %}