{% extends 'quicktutorsApp/base_member.html' %}
{% block title %}
    QuickFire Questions
{% endblock %}

{% block content %}

    <h1>QuickFire Questions <a href="{% url 'quickfireQuestions:questions_new' %}" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="New QuickFire"><i class="material-icons medium">library_add</i></a></h1>

    {% for question in questionsList %}

        <div class="s12">
            <div class="row">

                <div class="s12">

                    <h6>
                        <a href="{% url 'quickfireQuestions:questions_detail' pk=question.pk %}">
                        <strong>{{ question.title }} Comments: {{ question.approved_comments.count }}</strong>
                        </a>

                        <div class="right">
                        {% if question.isAnswered == True %}
                            <a class="waves-effect waves-light btn disabled"><i class="material-icons left">lock</i>Closed</a>
                            {% else %}
                            <a class="waves-effect waves-light btn"><i class="material-icons left">lock_open</i>Open</a>
                        {% endif %}
                        </div>
                    </h6>

                </div>

                <div class="row">

                    <div class="s6">
                        <label>Autor:</label>
                        <br>
                        {{ question.author.get_full_name }}
                    </div>

                    <div class="s6">
                        <label>Materia:</label>
                        <br>
                        {{ question.subject }}
                    </div>

                </div>
            </div>
        </div>

    {% endfor %}
    
{% endblock %}