{% extends 'quicktutorsApp/base_member.html' %}
{% block title %}
    {{ question.title }}
{% endblock %}
{% block content %}

<div class="col s12">
    <div class="row">
        <div class="col s12">

{#        Question published date#}
        <br>
        {% if question.published_date %}
            <div class="date">
                {{ question.published_date }}
            </div>
        {% endif %}

{#        Question title#}

        <h3>{{ question.title }}
            {% if user.id == question.author.id or user.is_staff == True %}
                {% if question.isAnswered == False %}
                    <div class="right">
                        <a href="{% url 'quickfireQuestions:questions_edit' pk=question.pk %}"
                           class="tooltipped" data-position="bottom" data-delay="50"
                           data-tooltip="Edit Question">
                                <i class="material-icons medium">edit</i>
                        </a>
                    </div>
                {% endif %}
            {% endif %}
        </h3>

{#        Question content#}

        <div class="row">
            <div class="col s12">
                <p>{{ question.text|linebreaksbr }}</p>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col s12">

{#            Add a comment button #}

            {% if question.isAnswered == False %}
                <a href="{% url 'quickfireQuestions:add_comment_to_questions' pk=question.pk %}"
                           class="waves-effect waves-light btn">
                                <i class="material-icons medium right">insert_comment</i>Add Comment</a>
             </div>
        </div>
            {% endif %}

{#            Comment's info    #}
            <div class="row">
                <div class="col s12">

                    {% for comment in question.comments.all %}

                        <div class="comment">

                            <div class="date right">

{#                                Comment date text#}
                                {% if comment.approved_comment or user.id == question.author.id or user.is_staff %}

                                    {{ comment.created_date }}

                                {% endif %}

{#                                Correct comment button#}
                                {% if comment.approved_comment and  question.isAnswered == False and user.id == question.author.id%}

                                    <a href="{% url 'quickfireQuestions:comment_correct_answer' pk=comment.pk %}"
                                           class="tooltipped" data-position="bottom"
                                           data-delay="50" data-tooltip="Correct"><i class="material-icons small">stars</i>
                                    </a>

                                {% endif %}

{#                                Remove and approve comment buttons#}
                                {% if not comment.approved_comment and user.id == question.author.id or not comment.approved_comment and  user.is_staff == True  %}
                                    <a href="{% url 'quickfireQuestions:comment_remove' pk=comment.pk %}"
                                           class="tooltipped" data-position="bottom"
                                           data-delay="50" data-tooltip="Remove"><i class="material-icons small">remove_circle_outline</i>
                                    </a>
                                    <a href="{% url 'quickfireQuestions:comment_approve' pk=comment.pk %}"
                                           class="tooltipped" data-position="bottom"
                                           data-delay="50" data-tooltip="Approve"><i class="material-icons small">check</i>
                                    </a>

                                {% endif %}

{#                                Display star on correct comment#}
                                {% if comment.approved_comment and question.isAnswered == True and comment.isCorrectAnswer %}

                                    <a href="#"class="tooltipped" data-position="bottom"data-delay="50" data-tooltip="Correct">
                                        <i class="material-icons small">stars</i>
                                    </a>

                                {% endif %}

                            </div>

{#                           Comment text and details#}
                            {% if comment.approved_comment or user.id == question.author.id or user.is_staff %}
                                <strong>{{ comment.author.get_full_name }}</strong>
                                <p>{{ comment.text|linebreaks }}</p>
                            {% endif %}

                        </div>

                    {% empty %}

                        <p>No comments here yet :(</p>

                    {% endfor %}

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}