{% extends 'quicktutorsApp/base_member.html' %}
{% block title %}
    {{ question.title }}
{% endblock %}
{% block content %}
    <h1>{{ question.title }}</h1>
    <div class="well">
        {% if question.published_date %}
            <div class="date">
                {{ question.published_date }}
            </div>
        {% endif %}
        {% if user.id == question.author.id or user.is_staff == True %}
            <div class="text-right">
            <a class="btn btn-default" href="{% url 'quickfireQuestions:questions_edit' pk=question.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
            </div>
        {% endif %}
        <p>{{ question.text|linebreaksbr }}</p>
        <hr>
        <a class="btn btn-default" href="{% url 'quickfireQuestions:add_comment_to_questions' pk=question.pk %}">Add comment</a>
        {% for comment in question.comments.all %}
            <div class="comment">
                <div class="date text-right">
                    {{ comment.created_date }}
                    {% if not comment.approved_comment %}
                    <a class="btn btn-default" href="{% url 'quickfireQuestions:comment_remove' pk=comment.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
                    <a class="btn btn-default" href="{% url 'quickfireQuestions:comment_approve' pk=comment.pk %}"><span class="glyphicon glyphicon-ok"></span></a>
                    {% endif %}
                </div>
                <strong>{{ comment.author }}</strong>
                <p>{{ comment.text|linebreaks }}</p>
            </div>
        {% empty %}
            <p>No comments here yet :(</p>
        {% endfor %}
    </div>
{% endblock %}