{% extends "quicktutorsApp/base_member.html" %}
{% load staticfiles %}

{% block content %}

    <h1>Welcome to {{ userProfile.user.get_full_name }} Profile </h1>
    <label>Bio:</label>
    <div>
        <p>{{ userProfile.bio }}</p>
    </div>
    <label>Picture:</label>
    <br>
         <img src="{{ userProfile.picture.url }}" class="img-rounded" width="240" height="240">
    <br>
    <label>Video de introduccion:</label>
    <br>
        {{ userProfile.video }}
    <br>
    <label>Carrera:</label>
    <br>
        {{ userProfile.career }}
    <br>
    <label>Materias que Domina:</label>
    <br>
        {% for subject in userProfile.subjects.all %}
        {{ subject }}
            <br>
        {% endfor %}
    <br>
    <label>Tiempo en servicio:</label>
    {{ userProfile.begin_time }} - {{ userProfile.end_time }}
    <br>
{% endblock %}
