{% extends "quicktutorsApp/base_member.html" %}
{% load staticfiles %}
{% block title %}
    Profile
{% endblock %}
{% block content %}

<div class="row">
    <div class="col s12">
         <h3>Perfil de {{ userProfile.user.get_full_name }}

                {% if user.id == userProfile.user.id or user.is_staff == True %}

                <a href="{% url 'update_profile' %}" class="tooltipped" data-position="bottom"
                   data-delay="50" data-tooltip="Edit Profile"><i class="material-icons">edit</i></a>
                {% endif %}
            </h3>
            {% if user.id != userProfile.user.id and userProfile.isTutor == True %}
                    <a class="waves-effect waves-light btn" href="{% url 'monitorias:secciones_new'  tutorpk=userProfile.user.pk %}">
                        <i class="material-icons left">event</i>
                        Solicitar Monitoria
                    </a>


            {% endif %}
            <hr>
    </div>

    <div class="col s6 m8">
        <div class="row">

            <div class="col s12 m6">
                <label>University</label>
                <br>
                {{ userProfile.university }}
            </div>

            <div class="col s12 m6">
                <label>Carrera</label>
                <br>
                {{ userProfile.career }}
            </div>

        </div>
        {% if userProfile.isTutor == True %}
        <div class="row">

            <div class="col s12 m6">
                <label>Materias que Domina</label>
                <br>
                {% for subject in userProfile.subjects.all %}
                {{ subject }}
                <br>
                {% endfor %}
            </div>

            <div class="col s12 m6">
                <label>Tiempo en servicio</label>
                <br>
                {{ userProfile.begin_time }} - {{ userProfile.end_time }}
            </div>

        </div>
        {% endif %}

        <div class="row">
            <div class="col s12">
                <label>Bio</label>
                <br>
                <p>{{ userProfile.bio }}</p>

            </div>
        </div>

    </div>

    <div class="col s6 m4 profileMedia center">
        <img src="{{ userProfile.picture.url }}" class="responsive-image img-rounded" width="150" height="150">
        {% if userProfile.isTutor == True %}
        <br>
        <!-- Video Modal Trigger -->
        <a class="waves-effect waves-light btn modal-trigger" href="#videoModal"><i class="material-icons left">ondemand_video</i>Intro video</a>

        <!-- Video Modal Structure -->
        <div id="videoModal" class="modal videoModal">
            <div class="modal-content">
                <h5>{{ userProfile.user.get_full_name }} - Intro</h5>
                <hr>
                <div class="video-container">
                <iframe width="753" height="380" src="{{ userProfile.video }}" frameborder="0" allowfullscreen onchange="pause()"></iframe>
                </div>
            </div>
        </div>
        {% endif %}
            
        </div>
    </div>



{% endblock %}


