{% extends "quicktutorsApp/base_member.html" %}
{% load staticfiles %}

{% block content %}

    <h1>Welcome to {{ userProfile.user.get_full_name }} Profile
        {% if user.id == userProfile.user.id or user.is_staff == True %}
        <a href="{% url 'update_profile' %}" class="glyphicon glyphicon-edit"></a>
        {% endif %}
    </h1>
    {% if user.id != userProfile.user.id and userProfile.isTutor == True %}
            <a class="btn btn-default" href="{% url 'monitorias:secciones_new' tutorpk=userProfile.user.pk%}">
            Solicitar Monitoria
            </a>

    {% endif %}
    <hr>

    <label>Bio:</label>
    <div>
        <p>{{ userProfile.bio }}</p>
    </div>
    <label>Picture:</label>
    <br>
         <img src="{{ userProfile.picture.url }}" class="img-rounded" width="240" height="240">
    <br>
    <label>Video de introduccion:</label>
    <br>
        {{ userProfile.video }}
    <br>
    <label>Carrera:</label>
    <br>
        {{ userProfile.career }}
    <br>
    <label>University:</label>
    <br>
        {{ userProfile.university }}
    <br>
    <label>Materias que Domina:</label>
    <br>
        {% for subject in userProfile.subjects.all %}
        {{ subject }}
            <br>
        {% endfor %}
    <br>
    <label>Tiempo en servicio:</label>
    {{ userProfile.begin_time }} - {{ userProfile.end_time }}
    <br>
{% endblock %}
