{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">

            <!-- Latest compiled and minified CSS -->
            <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

            <!-- jQuery library -->
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>

            <!-- Latest compiled JavaScript -->
            <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

            <!-- Lobster Font-->
            <link href="http://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">

            <!-- Application CSS File-->
            <link rel="stylesheet" href="{% static 'css/quicktutorsApp.css'%}">

            <title>QuickTutors</title>
    </head>
    <body>
        <div class="page-header text-center">
            <h1><a href="">QuickTutors</a></h1>
        </div>

        <div class="content">
            <div class="row">
                <div class="col-xs-11">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>