{% load staticfiles %}
{% load i18n postman_tags %}
<!DOCTYPE html>
<html lang="en">
	<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>

        <title>QuickTutors - Home</title>

        <!-- CSS  -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="{% static 'css/home_page_css/materialize.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
        <link href="{% static 'css/home_page_css/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>

        <!-- Favicon  -->
        <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon" />

		<style>

            header{
                padding-left:140px;
            }

            main, footer {
                padding-left: 340px;
            }

            @media only screen and (max-width : 992px) {
                header, main, footer {
                padding-left: 0;
                }
            }

            .user_name_drawer {
                margin-bottom: 0px;
                padding-bottom: 0px;
            }

            .user_drawer_panel{
                margin-top: 0px;
                background-image: url({% static 'media/member_section/user-drawer-background.jpg' %});
                background-repeat: no-repeat;
                background-size: 100% 100%;

            }
            .side-nav, .fixed{
                width: 340px;
            }
		</style>


        {% block extrahead %}
        {% endblock %}

		<title>QuickTutors | {% block title %}{% endblock %}</title>

	</head>


	<body>

        <header>
        <div class="navbar-fixed">
            <nav class="white" role="navigation">

                <div class="nav-wrapper container">

                    <a id="logo-container" href="#" class="brand-logo"><img src="{% static 'media/homepage/quicktutors-homepage-logo.png' %}">uickTutors</a>

                    <ul class="right hide-on-med-and-down">

{#                        <li><a href="#contactenos">Contactenos</a></li>#}
                        <li><a href="{% url 'postman:inbox' %}" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Inbox"><i class="material-icons">mail_outline</i></a></li>
                        <!-- Logout Button-->
                        <li><a href="{% url 'auth_logout' %}" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Log out"><i class="material-icons">exit_to_app</i>
                        </a></li>



                    </ul>
{#                   ADD PROFILE LINK#}
                    <ul id="side-navigation" class="side-nav fixed">
                        <li>
                            <div class="col s12">
                                <div class="card-panel user_drawer_panel teal darken-5 z-depth-1">
                                    <div class="card-content">
                                    <div class="row">
                                        <div class="col s12">
                                        <img src="{{ USER_PROFILE.picture.url }}" alt="user_profile_picture" class="circle responsive-img" width="68px" height="68px">
                                        </div>
                                    </div>
                                    <div class="row user_name_drawer">
                                        <div class="col s12">
                                            <ul>
                                                 <li>
                                                     <i class="user_name_drawer material-icons left">account_circle</i>{{ USER_PROFILE.user.get_full_name }}
                                                 </li>

                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                </div>
                            </div>
                        </li>
                    <li><a href="{% url 'profile' %}"><i class="material-icons left">dashboard</i>Perfil</a></li>
                    <li class="no-padding">
                        <ul class="collapsible collapsible-accordion">
                            <li>
                                <a class="collapsible-header"><i class="material-icons left">inbox</i>Mensajeria</a>
                                <div class="collapsible-body">
                                <ul>
                                    <li><a href="{% url 'postman:write' %}">- Mensaje Nuevo</a></li>
                                    <li><a href="{% url 'postman:inbox' %}">- Inbox</a></li>
                                    <li><a href="{% url 'postman:archives' %}">- Archivados</a></li>
                                    <li><a href="{% url 'postman:trash' %}">- Borrados</a></li>
                                </ul>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li><a href="{% url 'search_page' %}"><i class="material-icons left">search</i>Buscar Tutor</a></li>
                    <li><a href="{% url 'monitorias:secciones_list' %}"><i class="material-icons left">event_note</i>Monitorias</a></li>
                    <li><a href="{% url 'quickfireQuestions:questions_list' %}"><i class="material-icons left">forum</i>QuickFire</a></li>
                    <li><a href="{% url 'monitorias:secciones_recommended_tools' %}"><i class="material-icons left">extension</i>Tutoring Tools</a></li>

{#                    <!-- Login Button-->#}
{#                    <li><a href="{% url 'registration:auth_login' %}" class="waves-effect waves-light btn"><i class="material-icons left">input</i>Log out</a></li>#}
                    </ul>


{#                    <ul id="slide-out" class="side-nav fixed">#}
{#                        <li><a href="#!">First Sidebar Link</a></li>#}
{#                        <li><a href="#!">Second Sidebar Link</a></li>#}
{#                        <li class="no-padding">#}
{#                            <ul class="collapsible collapsible-accordion">#}
{##}
{#                                <li><a class="collapsible-header">Dropdown<i class="mdi-navigation-arrow-drop-down"></i></a>#}
{##}
{#                                    <div class="collapsible-body">#}
{#                                        <ul>#}
{#                                            <li><a href="#!">First</a></li>#}
{#                                            <li><a href="#!">Second</a></li>#}
{#                                            <li><a href="#!">Third</a></li>#}
{#                                            <li><a href="#!">Fourth</a></li>#}
{#                                        </ul>#}
{#                                    </div>#}
{#                                </li>#}
{#                            </ul>#}
{#                        </li>#}
{#                    </ul>#}

                    <a href="#" data-activates="side-navigation" class="button-collapse"><i class="material-icons">menu</i></a>

                </div>

            </nav>
    </div>
        </header>
                <main>
					<div class="container-fluid">
                        <div class="row">
{#                            <div class="col-xs-2">#}
{#                                {%  block postman_menu %}#}
{#                                {% endblock %}#}
{#                            </div>#}
                            <div class="col s12">


{#                                Publicity Carousel, that needs fixing or exchanging for something else                #}

{#                                <div class="container">#}
{#                                    <div id="publicityCarousel" class="carousel slide container-fluid" style="width: 100%; margin: 0 auto" data-ride="carousel">#}
{#                                          <!-- Indicators -->#}
{#                                          <ol class="carousel-indicators">#}
{#                                            <li data-target="#publicityCarousel" data-slide-to="0" class="active"></li>#}
{#                                            <li data-target="#publicityCarousel" data-slide-to="1"></li>#}
{#                                            <li data-target="#publicityCarousel" data-slide-to="2"></li>#}
{#                                            <li data-target="#publicityCarousel" data-slide-to="3"></li>#}
{#                                          </ol>#}
{##}
{##}
{#                                          <!-- Wrapper for slides -->#}
{#                                          <div class="carousel-inner " role="listbox">#}
{##}
{#                                              {% for publicity in PUBLICITY_LIST %}#}
{##}
{#                                                  {% if publicity == PUBLICITY_LIST.first %}#}
{##}
{#                                                    <div class="item active text-center">#}
{#                                                      <img class="cover" src="{{ publicity.picture.url }}" alt="{{ publicity.name }}"  width="100%">#}
{#                                                    </div>#}
{##}
{#                                                    {% else %}#}
{##}
{#                                                        <div class="item text-center">#}
{#                                                            <img src="{{ publicity.picture.url }}" alt="{{ publicity.name }}" height="250" width="250">#}
{#                                                        </div>#}
{##}
{#                                                  {% endif %}#}
{#                                                {% endfor %}#}
{#                                          <!-- Left and right controls -->#}
{#                                          <a class="left carousel-control" href="#publicityCarousel" role="button" data-slide="prev">#}
{#                                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>#}
{#                                            <span class="sr-only">Previous</span>#}
{#                                          </a>#}
{#                                          <a class="right carousel-control" href="#publicityCarousel" role="button" data-slide="next">#}
{#                                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>#}
{#                                            <span class="sr-only">Next</span>#}
{#                                          </a>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </div>#}

                                {% block content %}
                                {% endblock %}

                            </div>

                        </div>

					</div>
                </main>




    <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="{% static 'js/materialize.js' %}"></script>
    <script src="{% static 'js/init.js' %}"></script>
    <script>

        $(document).ready(function() {
        $('select').material_select();
        $('.modal-trigger').leanModal();
        });

        $('.button-collapse').sideNav({
          menuWidth: 340, // Default is 240
          edge: 'left', // Choose the horizontal origin
          closeOnClick: false // Closes side-nav on <a> clicks, useful for Angular/Meteor
            }
          );
    </script>
	</body>
</html>
