{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

		<!-- jQuery library -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>

		<!-- Latest compiled JavaScript -->
		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

		<!-- Lobster Font-->
		<link href="http://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">

		<!-- Application CSS File-->
		<link rel="stylesheet" href="{% static 'css/quicktutorsApp.css'%}">

		<!-- Material Design Files -->
		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
		<link rel="stylesheet" href="https://code.getmdl.io/1.1.3/material.indigo-pink.min.css">
		<script defer src="https://code.getmdl.io/1.1.3/material.min.js"></script>

		<title>QuickTutors</title>
	</head>

	<body>

		<div class="mdl-layout mdl-js-layout">

			<header class="mdl-layout__header">
				<div class="mdl-layout__header-row">
		        	<span class="mdl-layout-title"><a href="../">QuickTutors</a></span>
		        	<div class="mdl-layout-spacer"></div>
		        	  <a href="{% url 'logout' %}" class="mdl-button mdl-js-button mdl-button--icon"
			               for="fixed-header-drawer-exp">
			          <i class="material-icons">exit_to_app</i>
			        </a>
		      	</div>
			</header>

			<div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer">
				<div class="mdl-layout__drawer">
					<header class="avatar_header avatar-div text-center">
                            <img src="{{ userProfile.picture.url }}" class="avatar avatar-properties img-circle" width="100" height="100">
                            <span class="mdl-layout-title avatar-name">{{ userProfile.user.get_full_name }}</span>
					</header>


					<nav class="mdl-navigation">
						<a class="mdl-navigation__link" href=""><i class="material-icons">home</i>Inicio</a>
						<a class="mdl-navigation__link" href=""><i class="material-icons">search</i>Buscar Tutor</a>
						<a class="mdl-navigation__link" href=""><i class="material-icons">forum</i>QuickFire</a>
						<a class="mdl-navigation__link" href=""><i class="material-icons">inbox</i>Recursos</a>
					</nav>

				</div>
				<main class="mdl-layout__content">
					<div class="container-fluid">
						{% block content %}
						{% endblock %}
					</div>
				</main>
			</div>

			
			
		</div>

	</body>
</html>
