{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
	<head>
        <meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
        <title>QuickTutors | {% block title %}{% endblock %}</title>
	</head>

	<body>

    {#                  Base Menu                                   #}


    {#                  Base Content                                   #}
        <div class="page-content">

            {% block content %}
            {% endblock %}

        </div>

    {#                  Base Footer                                  #}
    <footer>

    </footer>
    </body>
</html>