{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="http://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/quicktutorsApp.css' %}">
    <title>QuickTutors - Home</title>

</head>
<body>
    <div class="page-header">
     <marquee><h1>Welcome to QuickTutors :)</h1></marquee>
    </div>
        <div class="container">
            <div class="alert alert-info fade in">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>Info!</strong> this website is currently private.
            </div>
            <div class="jumbotron">
              <h1 class="text-center"><span class="glyphicon glyphicon-alert"></span>
                Ooppss!!
              </h1>
                <p class="text-center">We are currently under construction!</p>
                <h4 class="text-right">-QuickTutors Staff Team</h4>
            </div>
        </div>

</body>
</html>