{% extends 'quicktutorsApp/base_member.html' %}
    {% block content %}
        <h1>Buscar un Tutor</h1>
        <div class="row">
                <div class="col-xs-12">
                    <label><i class="material-icons">filter_list</i></label> <strong>Filter By</strong>
                    <div class="btn-group">

                        <a class="btn dropdown-button" href="#!" data-activates="dropdown2">Ciencias Basicas y Medio Ambientales<i class="mdi-navigation-arrow-drop-down right"></i></a>

                            <ul class="dropdown-content" id="dropdown2">
                                <div class="dropdown-header"><strong><center>Matematicas</center></strong></div>
                                  <li><a href="{% url 'search_page_filter' subject='Algebra y Geometria Analitica' %}">Algebra y Geometria Analitica</a></li>
                                  <li><a href="{% url 'search_page_filter' subject='Calculo Diferencial' %}">Calculo Diferencial</a></li>
                                  <li><a href="{% url 'search_page_filter' subject='Calculo Integral' %}">Calculo Integral</a></li>
                                  <li><a href="{% url 'search_page_filter' subject='Calculo Vectorial' %}">Calculo Vectorial</a></li>
                                  <li><a href="{% url 'search_page_filter' subject='Ecuaciones Diferenciales' %}">Ecuaciones Diferenciales</a></li>
                                  <li><a href="{% url 'search_page_filter' subject='Algebra Lineal' %}">Algebra Lineal</a></li>
                                  <li><a href="{% url 'search_page_filter' subject='Analisis Numerico' %}">Analisis Numerico</a></li>
                                  <li><a href="{% url 'search_page_filter' subject='Discreta I' %}">Discreta I</a></li>
                                  <li><a href="{% url 'search_page_filter' subject='Discreta II' %}">Discreta II</a></li>
                                  <li role="separator" class="divider"></li>

                            <div class="dropdown-header"><strong><center>Fisicas</center></strong></div>
                                  <li><a href="{% url 'search_page_filter' subject='Fisica I' %}">Fisica I</a></li>
                                  <li><a href="{% url 'search_page_filter' subject='Fisica II' %}">Fisica II</a></li>
                                  <li><a href="{% url 'search_page_filter' subject='Fisica III' %}">Fisica III</a></li>
                                  <li><a href="{% url 'search_page_filter' subject='Fisica IV' %}">Fisica IV</a></li>
                            </ul>
                        <a class="btn dropdown-button" href="#!" data-activates="dropdown3">Ingenierias<i class="mdi-navigation-arrow-drop-down right"></i></a>

                            <ul class="dropdown-content" id="dropdown3" role="menu">
                            <div class="dropdown-header"><strong><center>Ingenierias</center></strong></div>
                              <li><a href="{% url 'search_page_filter' subject='Fundamentos de Programacion' %}">Fundamentos de Programación</a></li>
                              <li><a href="{% url 'search_page_filter' subject='Logica de Programacion' %}">Logica de Programación</a></li>
                              <li><a href="{% url 'search_page_filter' subject='Algoritmos y Estructuras de Datos' %}">Algoritmos y Estructuras de Datos</a></li>
                            </ul>
                    </div>
                </div>
         </div>
        </div>

<div class="row">

         <ul class="collection">
        {% for userProfile in userProfiles %}
            {% if userProfile.user.username != "quicktutors" %}
            <li class="collection-item avatar">
              <img src="{{userProfile.picture.url}}" alt="" class="circle">
              <span class="title"><b> {{ userProfile.user.get_full_name }} </b></span>
              <p><br><strong>Datos Personales:</strong><br><strong>Universidad:</strong> {{ userProfile.university }} | <strong>Horario:</strong> {{ userProfile.begin_time }} - {{ userProfile.end_time }}</p>
                <p> <a href="{% url 'tutor_profile' profile_id=userProfile.id %}" id="cardlinks"> Mas Informacion </a>
                    {% if user.id != userProfile.user.id and userProfile.isTutor == True %}

                        | <a href="{% url 'monitorias:secciones_new' tutorpk=userProfile.user.pk%}" id="cardlinks">Contratar</a> </p>

                    {% endif %}
              <a href="{% url 'tutor_profile' profile_id=userProfile.id %}" class="secondary-content"><i class="material-icons">contact_phone</i></a>
            </li>
            {% endif %}
        {% endfor %}
        </ul>
</div>

    {% endblock %}
