{% extends 'quicktutorsApp/base_member.html' %}
    {% block content %}
        <h1>Buscar un Tutor</h1>
        <div class="row">
                <div class="col-xs-12">
                    <label><i class="material-icons">filter_list</i></label> <strong>Filter By</strong>
                    <div class="btn-group">
                          <div class="btn-group">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            Ciencias Basicas y Medio Ambientales <span class="caret"></span></button>
                            <ul class="dropdown-menu" role="menu">
                            <div class="dropdown-header"><strong>Matematicas</strong></div>
                                  <li><a href="{% url 'search_page_filter' subject='Algebra y Geometria Analitica' %}">Algebra y Geometria Analitica</a></li>
                                  <li><a href="{% url 'search_page_filter' subject='Calculo Diferencial' %}">Calculo Diferencial</a></li>
                                  <li><a href="{% url 'search_page_filter' subject='Calculo Integral' %}">Calculo Integral</a></li>
                                  <li><a href="{% url 'search_page_filter' subject='Calculo Vectorial' %}">Calculo Vectorial</a></li>
                                  <li><a href="{% url 'search_page_filter' subject='Ecuaciones Diferenciales' %}">Ecuaciones Diferenciales</a></li>
                                  <li><a href="{% url 'search_page_filter' subject='Algebra Lineal' %}">Algebra Lineal</a></li>
                                  <li><a href="{% url 'search_page_filter' subject='Analisis Numerico' %}">Analisis Numerico</a></li>
                                  <li><a href="{% url 'search_page_filter' subject='Discreta I' %}">Discreta I</a></li>
                                  <li><a href="{% url 'search_page_filter' subject='Discreta II' %}">Discreta II</a></li>
                                  <li role="separator" class="divider"></li>
                            <div class="dropdown-header"><strong>Fisicas</strong></div>
                                  <li><a href="{% url 'search_page_filter' subject='Fisica I' %}">Fisica I</a></li>
                                  <li><a href="{% url 'search_page_filter' subject='Fisica II' %}">Fisica II</a></li>
                                  <li><a href="{% url 'search_page_filter' subject='Fisica III' %}">Fisica III</a></li>
                                  <li><a href="{% url 'search_page_filter' subject='Fisica IV' %}">Fisica IV</a></li>
                            </ul>
                          </div>
                        <div class="btn-group">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            Ingenierias <span class="caret"></span></button>
                            <ul class="dropdown-menu" role="menu">
                            <div class="dropdown-header"><strong>Ingenierias</strong></div>
                              <li><a href="{% url 'search_page_filter' subject='Fundamentos de Programacion' %}">Fundamentos de Programación</a></li>
                              <li><a href="{% url 'search_page_filter' subject='Logica de Programacion' %}">Logica de Programación</a></li>
                              <li><a href="{% url 'search_page_filter' subject='Algoritmos y Estructuras de Datos' %}">Algoritmos y Estructuras de Datos</a></li>
                            </ul>
                          </div>
                    </div>
                </div>
         </div>
        </div>

<div class="row">

        {% for userProfile in userProfiles %}


                <div class="col s12 m3">
                  <div class="card blue-grey lighten-1">
                    <div class="card-content white-text">
                        <img src="{{userProfile.picture.url}}" width="150" height="150">
                      <span class="card-title"><h4><a id="cardtitle" href="{% url 'tutor_profile' profile_id=userProfile.id %}" >{{ userProfile.user.get_full_name }}</a></h4></span>
                      <p><ul id="cardinterior">Datos Personales
                            <li>{{ userProfile.user.email }}</li>
                        </ul></p>
                    </div>
                    <div class="card-action" >
                      <a href="#" id="cardlinks">Mas Informacion</a>
                      <a href="#" id="cardlinks">Contratar</a>
                    </div>
                  </div>
                </div>

        {% endfor %}

</div>
<center>

    <ul class="pagination">
							<li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
							<li class="active"><a href="#!">1</a></li>
							<li class="waves-effect"><a href="#!">2</a></li>
							<li class="waves-effect"><a href="#!">3</a></li>
							<li class="waves-effect"><a href="#!">4</a></li>
							<li class="waves-effect"><a href="#!">5</a></li>
							<li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
        </ul>

</center>


    {% endblock %}
