{% extends "quicktutorsApp/base.html" %}

{% block content %}


    {% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
    {% endif %}

    <form class="col s12" method="post" action="."  role="form">
    {% csrf_token %}

        <div class="row">
            <div class="input-field col s12">
                <input class= "validate" id="{{ form.username.id }}" maxlength="254" name="username" type="text">
                <label class ="validate" for="{{ form.username.id }}">{{ form.username.label }}</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12">
                <input class= "validate" id="{{ form.password.id }}" name="password" type="password">
                <label class ="validate" for="{{ form.password.id }}">{{ form.password.label }}</label>
            </div>
        </div>
    <br>

        <input class="waves-effect waves-light btn" type="submit" value="login" />
        <input type="hidden" name="next" value="{{ next }}" />

    </form>


{% endblock %}





